@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: Ubuntu;
}

body {
  background-color: #c0edf9;
}

.fv {
  position: relative;
}

.fv::after {
  content: "";
  background-image: url(../images/28portforio.png);
  background-repeat: repeat;
  background-size: 100%;
  position: absolute;
  bottom: -63px;
  left: -63px;
  width: 110%;
  height: 126px;
  z-index: 100;
}

.fv .fv__title-wrap {
  margin-left: 10%;
  position: absolute;
  top: 50%;
  z-index: 200;
  overflow: hidden;
}

.fv .fv__video_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fv .fv__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv .fv__title {
  color: #fff;
  padding: 0 0 1.1rem;
  top: 50%;
  left: 13.5rem;
  z-index: 1;
  font-size: 5.9rem;
  font-weight: bold;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  opacity: 1;
}

.fv span {
  display: block;
}

.fv .scroll {
  z-index: 1;
  position: absolute;
  left: 50.4%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.fv .scroll__icon {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: inline-block;
  padding: 10px 10px 110px;
  overflow: hidden;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.fv .scroll__icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #fff;
}

.fv .scroll__icon::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #c0edf9;
}

.fv .scroll__icon::after {
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.2% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.2% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about .about__container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .title-wrap {
  margin-left: 10%;
  overflow: hidden;
}

.about .section__title {
  font-size: 5.4rem;
}

.about .profile {
  padding-left: 11rem;
  width: 49%;
}

.about .prf-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about .profile__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2.2rem;
  overflow: hidden;
}

.about .profile__name {
  font-family: 游ゴシック;
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
}

.about .profile__name--en {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: lighter;
  overflow: hidden;
}

.about .about__content-wrap {
  margin-top: 2rem;
}

.about .about__content {
  font-size: 1.6rem;
  line-height: 1.75;
  font-family: 游ゴシック;
}

.about .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.about .cloud1-wrap {
  width: 20rem;
  height: 6.5rem;
  position: absolute;
  top: 20%;
  left: 11%;
}

.about .cloud-s1-wrap {
  width: 10.8rem;
  height: 5.2rem;
  position: absolute;
  top: 25%;
  right: 32%;
}

.about .cloud2-wrap {
  width: 44.5rem;
  height: 15.6rem;
  position: absolute;
  top: 24.5%;
  right: 5%;
}

.about .cloud3-wrap {
  width: 27.7rem;
  height: 11.5rem;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.about .cloud4-wrap {
  width: 46.3rem;
  height: 20.4rem;
  position: absolute;
  bottom: 1%;
  right: -5%;
  overflow: hidden;
}

.skill {
  position: relative;
  width: 100%;
  height: 100vh;
}

.skill .pc-img-wrap {
  position: absolute;
  top: 8%;
  left: 45%;
  width: 20rem;
  height: 20rem;
}

.skill .skill__pc-img {
  background-image: url(../images/pc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.skill .sp-img-wrap {
  position: absolute;
  top: 20%;
  right: 23%;
  width: 11.7rem;
  height: 14rem;
}

.skill .skill__sp-img {
  background-image: url(../images/8pc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.skill .skill__container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill .skill__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-top: 30rem;
  text-align: center;
}

.skill .title-wrap {
  width: 19%;
  margin-left: 10%;
  overflow: hidden;
}

.skill .section__title {
  font-size: 6.1rem;
}

.skill .skill--common {
  font-size: 2.49rem;
  margin-right: 10px;
}

.skill .skill__wrap {
  width: 64%;
  padding-left: 11rem;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-bottom: 7.3rem;
}

.skill .skill__html {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 12.5rem;
}

.skill .skill__css {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 12.5rem;
}

.skill .skill__js {
  width: 10.2rem;
  height: 10.2rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 10.2rem;
}

.skill .skill__php {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 8rem;
}

.skill .skill__wordpress {
  position: relative;
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 1.1;
  vertical-align: middle;
}

.skill .skill__wordpress span {
  width: 8rem;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.skill .skill__gitgub {
  width: 10.2rem;
  height: 10.2rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 10.2rem;
}

.skill .skill__mysql {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 8rem;
}

.skill .skill__content-wrap {
  padding-top: 3.5rem;
  overflow: hidden;
}

.skill .skill__content {
  font-size: 1.6rem;
  line-height: 1.75;
}

.skill .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.skill .skill-cloud-wrap1 {
  width: 31.1rem;
  height: 11.5em;
  position: absolute;
  top: 11%;
  left: 0;
}

.skill .skill-cloud-wrap2 {
  width: 14.3rem;
  height: 6.5em;
  position: absolute;
  top: 23%;
  left: 22%;
}

.skill .skill-cloud-wrap3 {
  width: 34.5rem;
  height: 11.1em;
  position: absolute;
  top: 1%;
  right: 2%;
}

.skill .skill-cloud-wrap4 {
  width: 18.8rem;
  height: 6.6em;
  position: absolute;
  top: 25%;
  right: -5%;
}

.skill .skill-cloud-wrap5 {
  width: 42.1rem;
  height: 17.4em;
  position: absolute;
  left: -2%;
  bottom: 0;
}

.skill .skill-cloud-wrap6 {
  width: 7.6rem;
  height: 5.2em;
  position: absolute;
  left: 17%;
  bottom: 22%;
}

.skill .skill-cloud-wrap7 {
  width: 7.1rem;
  height: 3.4em;
  position: absolute;
  bottom: 5%;
  right: 28%;
}

.skill .skill-cloud-wrap8 {
  width: 15.5rem;
  height: 8.2em;
  position: absolute;
  bottom: 2%;
  right: 9.8%;
}

.work {
  position: relative;
  width: 100%;
  height: 100vh;
}

.work .title-wrap {
  width: 19%;
  margin-left: 10%;
  overflow: hidden;
}

.work .section__title {
  font-size: 6.1rem;
}

.work .work__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .work__info-text {
  overflow: hidden;
}

.work .work__info {
  width: 49%;
  padding-left: 11rem;
  z-index: 1;
}

.work .work__info-conent {
  font-size: 1.4rem;
  line-height: 1.75;
  padding-bottom: 1.5rem;
}

.work .work__emphasis {
  display: inline-block;
  padding: 1.5rem 0;
  font-weight: bold;
}

.work .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.work .work-cloud-wrap1 {
  width: 24.1rem;
  height: 12.5em;
  position: absolute;
  top: 19%;
  left: 1%;
}

.work .work-cloud-wrap2 {
  width: 33.4rem;
  height: 11.7em;
  position: absolute;
  top: 2%;
  right: 5%;
}

.work .work-cloud-wrap3 {
  width: 8.1rem;
  height: 3.9em;
  position: absolute;
  top: 1%;
  right: 1%;
}

.work .work-cloud-wrap4 {
  width: 13.9rem;
  height: 4.8rem;
  position: absolute;
  bottom: 23%;
  left: 4.7%;
}

.work .work-cloud-wrap5 {
  width: 28.1rem;
  height: 11.7em;
  position: absolute;
  bottom: 6.4%;
  left: 9.7%;
}

.work .work-cloud-wrap6 {
  width: 31.2rem;
  height: 11.8em;
  position: absolute;
  right: 3.7%;
  bottom: 2.5%;
}

.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.contact .contact__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .title-wrap {
  width: 19%;
  margin-left: 10%;
  overflow: hidden;
}

.contact .section__title {
  font-size: 6.1rem;
}

.contact .contact__form-wrap {
  width: 28%;
  padding-left: 11rem;
  z-index: 1;
  pointer-events: all;
}

.contact .form {
  margin-top: 1.5rem;
  width: 100%;
}

.contact .contact__text {
  font-family: 游ゴシック;
  font-size: 1.6rem;
  line-height: 1.75;
}

.contact ::-webkit-input-placeholder {
  color: #cccccc;
}

.contact :-ms-input-placeholder {
  color: #cccccc;
}

.contact ::-ms-input-placeholder {
  color: #cccccc;
}

.contact ::placeholder {
  color: #cccccc;
}

.contact .form__name, .contact .form__mail, .contact .form__text {
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.contact .form__name {
  border-radius: .4rem;
}

.contact .form__mail {
  border-radius: .4rem;
}

.contact .form__text {
  border-radius: .8rem;
}

.contact .form__submit {
  width: 100%;
  border-radius: .4rem;
  padding: 2.4rem;
  background-color: #1BBFBB;
  color: #fff;
  font-family: 游ゴシック;
  cursor: pointer;
}

.contact .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.contact .contact-cloud-wrap1 {
  width: 33.9rem;
  height: 14.9em;
  position: absolute;
  top: 15%;
  left: -1%;
}

.contact .contact-cloud-wrap2 {
  width: 20rem;
  height: 10.3rem;
  position: absolute;
  top: 15%;
  right: 7%;
}

.contact .contact-cloud-wrap3 {
  width: 44.5rem;
  height: 15.6em;
  position: absolute;
  bottom: 34%;
  right: -5%;
}

.contact .contact-cloud-wrap4 {
  width: 9.3rem;
  height: 6.3rem;
  position: absolute;
  bottom: 20%;
  right: 0;
}

.contact .contact-cloud-wrap5 {
  width: 110%;
  height: 19.5em;
  position: absolute;
  bottom: -2%;
  left: -5%;
}

.contact .footer {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  padding-bottom: 2rem;
}

.contact .footer__text {
  margin-left: 37%;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.75;
  font-family: 游ゴシック;
}

.contact .footer__copyright {
  font-size: 1.3rem;
  line-height: 1.75;
  letter-spacing: 0.01;
  float: right;
  margin-right: 2rem;
  font-family: 游ゴシック;
}

#fp-nav {
  margin: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, 50%, 0);
  width: 40px;
  left: 40px;
  overflow: hidden;
}

#fp-nav.left {
  left: 2%;
}

#fp-nav ul li {
  height: 17px;
  margin: 0 0 20px;
}

#fp-nav ul li a {
  width: 17px;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#fp-nav ul li a span {
  display: none;
}

#fp-nav ul li:last-child {
  margin-bottom: 0;
}

#fp-nav ul li .active {
  border-radius: 8.5px;
  width: 34px;
}
/*# sourceMappingURL=main.css.map */